.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Checkmark {
  padding-top: 1vh;
  width: 2.5vh;
}

.Editor {
  margin-top: 5vh;
  border: 5px solid white;
  border-radius: 5px;
  background-color: white;
  height: 78vh;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.Editor::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 50px;
    background-color: #F5F5F5;
}

.Editor::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.Editor::-webkit-scrollbar-thumb
{
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: lightgrey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Text {
  color: white;
  margin-top: 3vh;
  height: 3vh
}

.Copyright {
  color: white;
  font-size: 12px;
  margin-top: 4.5vh;
}

.Copyright a {
  text-decoration: none;
  color: lightblue;
}

.Copyright a:hover {
  color: lightcoral;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TextEditor {
  counter-reset: line;
}

.TextEditor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.TextEditor pre {
  padding-left: 60px !important;
}

.TextEditor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}
